<nav class="bg-black text-white p-6">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <div class="text-2xl font-bold">
      <a routerLink="/" class="hover:text-gray-300">CarAgency</a>
    </div>
    <div class="hidden md:flex space-x-8 text-sm">
      <a routerLink="/" class="hover:text-gray-400">Home</a>
      <a routerLink="/brands" class="hover:text-gray-400">Brands</a>
      <a routerLink="/cars" class="hover:text-gray-400">Cars</a>
      <a routerLink="/customer/saved-cars" class="hover:text-gray-400">Saved</a>
      <a routerLink="customer/purchased-cars" class="hover:text-gray-400">Purchases</a>
      <a routerLink="/auth/login" class="hover:text-gray-400">Login</a>
      <a routerLink="/auth/signup" class="hover:text-gray-400">Sign Up</a>
    </div>
    <div class="md:hidden">
      <button class="focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>
</nav>